@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=League+Gothic&family=Nunito:wght@200&family=Roboto:wght@100;300&family=Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
}

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo img {
  width: auto;
  max-width: 300px;
}
.topbar {
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-nav {
  width: auto;
  display: flex;
  flex-direction: row;
}
.side-nav div {
  height: 80%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.side-nav div p {
  color: gray;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-left: 5px;
}
.side-nav div i {
  margin-left: 20px;
  color: #1e2929;
}

.bottom {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.contentsbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  transition: ease all 0.5s;
}
.contentsbar h2 {
  color: #1e2929;
  font-weight: lighter;
}

.upload-button {
  padding: 10px 20px;
  border-radius: 0;
  background: transparent;
  border: 1px solid;
  cursor: pointer;
  margin-top: 20px;
  font-weight: lighter;
  color: #1e2929;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
}

.upload-button:hover {
  border-color: #1e2929;
}

.files-list {
  padding-top: 30px;
  padding-bottom: 20px;
}

.uploaded_assets {
  border: 1px solid #1e2929;
  padding: 10px 20px;
  min-width: 300px;
  margin-bottom: 20px;
  cursor: pointer;
}

#filesList {
  overflow-y: scroll;
  height: 50%;
}
#filesList::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 900px) {
  .bottom {
    align-content: center;
    justify-content: center;
    transition: ease all 0.5s;
  }
}

@media screen and (min-width: 100px) {
  #filesList div {
    height: auto;
  }
}
